<!-- <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
     
      <div class="collapse "  id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </div>
      </div>
      <a class="nav-link active" routerLink="promise">Promise</a>

      <a class="nav-link active" routerLink="observable">Observable</a>
    </div>
  </nav>

  <router-outlet></router-outlet>
<!-- Promises -->
<!-- <app-header></app-header> --> 

<!-- //Bind Grid and services with error handling -->
<app-binding></app-binding>

<!-- //Subject & Behaviour Subject -->
<!-- <app-bs-comp></app-bs-comp> -->

<!-- //ng-if,ng-for,Input,Output -->
<!-- <app-parent></app-parent> -->
